#container ul {
    height: 30px;
    background-color: yellowgreen;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#container ul li {

    list-style: none;

}
@media (max-width: 300px) {
    #container ul {
    height: 50px;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
}